.modal {
    width: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--off--gey);
    position: absolute;
    background-color: var(--bg-color);
    z-index: 1;
    border: 1px solid rgba(95, 99, 104, .8);
    top: 15%;
    left: 35%;
    padding: 1rem;
}

.hide__icon {
    float: right;
    padding: .2rem 1rem;
    cursor: pointer;
}

input[type=radio] {
    display: inline
}