.main__container {
    width: 100%;
}

.note {
    width: 37.4rem;
    border: 1px solid rgba(95, 99, 104, .8);
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    margin: 0 auto;
    border-radius: 0.5em;
    padding: 0.1em;
}

.error__note {
    border: 1px solid #dc143c;
}

.input--err {
    margin: .2rem;
}

.notes {
    display: flex;
}

.note__pinned {
    padding-top: .8rem;
}

.note__heading,
.note__content {
    padding: 1rem;
    width: 100%;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    color: var(--off-white);
    resize: none;
    overflow: hidden;
}

.note__pinned {
    float: right;
    cursor: pointer;
}

.footer {
    display: flex;
    width: 100%;
}

.note__delete {
    font-size: 1.2rem;
}

.note__color {
    margin-left: 1rem;
}

.note__add {
    padding: 0.7rem;
    cursor: pointer;
}

.note__label {
    width: 10rem;
    margin-left: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border-width: 0;
    padding: .3rem .5rem;
    border-radius: 5px;
    outline: none;
    color: var(--off-white);
    border: 1px solid rgba(95, 99, 104, .8);
}


@media screen and (max-width:650px) {
    .note {
        width: auto;
    }
}