* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navigation {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 10;
    background-color: var(--bg-color);
    color: var(--off-white);
    flex-wrap: nowrap;
}

.navigation__heading,
.navbar__social-link {
    color: var(--off-white);
}

.navigation__heading,
.navbar__social-link :hover {
    color: var(--warning-color);
}

.navbar__search {
    width: 20rem;
    position: relative;
    display: flex;
    align-items: center;
}

.search__box {
    width: 100%;
    border-radius: 5px;
    padding: .9rem .4rem;
    outline: none;
    border-width: 0;
    border: 1px solid;
    padding-left: .5rem;
}

.filter__icon {
    position: absolute;
    top: .8rem;
    right: .4rem;
    color: var(--content-color);
    font-size: 1.2rem;
}

.mobile__search--container {
    display: none;
}

.hamburger {
    display: none;
}

@media screen and (max-width:750px) {
    .navbar__search {
        display: none
    }

    .hamburger {
        display: block;
    }

    .mobile__search--container {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    .mobile__navbar--search {
        width: 28rem;

    }

    .filter__icon {
        position: relative;
        top: -2.3rem;
        left: 25rem;
    }
}