* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navigation {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 10;
    background-color: var(--bg-color);
    color: var(--off-white);
    flex-wrap: nowrap;
}

.navigation__heading,
.navbar__social-link {
    color: var(--off-white);
}