* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navigation {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 10;
    background-color: var(--bg-color);
    color: var(--off-white);
    flex-wrap: nowrap;
}

.navigation__heading,
.navbar__social-link {
    color: var(--off-white);
}

.navbar__social-link :hover {
    color: #fff;
}

.navbar__search {
    width: 20rem;
    position: relative;
    display: flex;
    align-items: center;
}

.search__box {
    width: 100%;
    border-radius: 5px;
    padding: .9rem .4rem;
    outline: none;
    border-width: 0;
    border: 1px solid;
    padding-left: .5rem;
}

.filter__icon {
    position: absolute;
    top: .8rem;
    right: .4rem;
    color: black;
    font-size: 1.2rem;
}