.card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 1rem;
}


@media screen and (max-width:900px) {

    .card__container {
        grid-template-columns: 1fr;
        place-items: center;
    }
}