.card__note {
    padding-bottom: .5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    border: 1px solid rgba(95, 99, 104, .8);
}

.card {
    height: min-content;
    margin: 1rem 0;
}

.btn {
    padding: .6rem .9rem;
    margin: 0.6rem 0.5rem 0.2rem 1rem;
}

.card__icon {
    display: flex;
    align-items: center;
}

.footer_icon {
    padding: 1.5rem 0 0 1.2rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.card__label {
    margin: 1rem 0 0 1rem;
    width: max-content;
    padding: .5rem;
    border: 1px solid #fff;
}

.note__pin {
    float: right;
}

.icon {
    font-size: 1.4rem;
}