.card__note {
    padding: 1rem 0;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    border: 1px solid rgba(95, 99, 104, .8);
}

.card {
    height: min-content;
    margin: 1rem 0;
}

.btn {
    padding: .6rem .9rem;
    margin: 0.6rem 0.5rem 0.2rem 1rem;
}

.card__icon {
    display: flex;
    align-items: center;
}

.footer_icon {
    padding: 1.5rem 0 0 1rem;
    cursor: pointer;
}

.icon {
    font-size: 1.3rem;
}