.sidebar {
    flex: 0 0 240px;
    margin-right: 1rem;
    transition: all .5s ease-out;
    border-right: 1px solid var(--black);
    height: auto;
}

.sidebar__heading {
    text-decoration: none;
    color: var(--off-white);
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem 0;
}

.sidebar__link {
    padding: .8rem 1.9rem;
    font-size: .9rem;
    font-weight: 400;
}

.menu__link {
    color: var(--off-white);
}

.menu__link:hover {
    color: var(--warning-color);
}